body {
	margin: auto;
	padding: 0;
	box-sizing: border-box;
}

#leadhead {
	padding: 41px 41px 10px 41px;
}

.heading {
	font-size: large;
	font-weight: bolder;
}

.wrapper {
	display: flex;
	display: flex;
  justify-content: center;
}

.head1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.head1 button {
	width: auto;
	height: 30px;
}

.Recont {
	padding: 20px;
	width: 40%;
	padding: 15px;
}

.recentScore {
	padding-right: 25px;
}

#form {
	display: flex;
	flex-direction: column;
	gap: 21px;
}

#form input {

}

.AddScore {
	width: 40%;
	padding: 15px;
}

.listContainer {

}

.List {
	list-style: none;
	border: 1px solid black;
}

.List ul {
	list-style: none;
	padding-left: 5px;
}

#butt {
	display: flex;
	justify-content: flex-end;
}

#butt button {


}

#name {

}