@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800;900&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,400;1,700&display=swap');

body {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: aliceblue;
  width: 100vw;
  height: 100vh;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

nav {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: start;
  height: 70px;
  padding-top: 35px;
}

#leadhead {
  font-family: 'Inter', sans-serif;
  font-size: 35px;
  padding: 20px 41px 10px 41px;
  background: #d53535;
  color: white;
  width: 100vw;
  height: 70px;
}

.heading {
  font-size: large;
  font-weight: bolder;
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.head1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head1 button {
  width: auto;
  height: 30px;
  font-family: 'Lato', sans-serif;
}

.Recont {
  width: 40%;
  height: auto;
  margin-top: 50px;
  background-color: white;
  box-shadow: 0px 1px 19px 0px #888888;
  padding: 5px 10px;
}

.recentScore {
  font-family: 'Lato', sans-serif;
}

#refresh {
  font-family: 'Lato', sans-serif;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

#form input {
  width: auto;
  height: 34px;
}

.AddScore {
  font-family: 'Lato', sans-serif;
  width: 40%;
  margin-top: 50px;
  padding: 15px;
  background-color: white;
  box-shadow: 0px 1px 19px 0px #888888;
  height: 250px
}

.List {
  list-style: none;
  border: 1px solid black;
}

.List ul {
  list-style: none;
}

#butt {
  display: flex;
  justify-content: flex-end;
}

#butt button {
  width: auto;
  height: 30px;
}

#Scorelist {
  font-family: 'Lato', sans-serif;
}

#Scorelist li {
  padding: 7px;
}

#Scorelist li:nth-child(odd) {
  background: rgb(170, 165, 165);
}

@media screen and (max-width: 375px) {
  .head1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
}